<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" style="padding:10px" fxLayoutAlign="space-between center" [fxShow]="true">
    <div style="font-size:1em;font-weight:bold;">
      log</div>
    <mat-slide-toggle [required]="false" [labelPosition]="&apos;before&apos;" (change)="page.showLog=$event.checked" checked="true" [disabled]="false" [disableRipple]="false"> Toggle log visibility</mat-slide-toggle>
  </div>
  <div fxLayout="column wrap" style="width:500px;" fxLayoutGap="5px" fxLayoutAlign="start start" [fxShow]="true" *ngIf="page.showLog">
    <div *ngFor="let logObj of logArray; let i = index" [ngStyle]="{&apos;color&apos;: logObj.type === &apos;error&apos; ? &apos;red&apos; : &apos;green&apos;}" style="font-size:0.8em; margin-top:10px">
      {{&apos;- &apos; + logObj.message}}
    </div>
  </div>
</div>